html,
body {
    font-family: 'Open Sans', sans-serif!important;
    font-size: .95rem
}

.top-list-items li {
    display: inline-block;
    margin-left: 1rem;
    font-size: 0.8rem
}


/*********CSS Menu******/


/* CSS Document */


/* Media Queries
--------------------------------------------- */


/*********CSS Menu ends******/

.banner-home {
    background: url(../images/banner-home.jpg) no-repeat;
    background-size: cover;
    background-position: bottom right;
    height: auto;
    padding-bottom: 2rem
}

.c-heading {
    font-family: 'Raleway', serif;
}

.corona-block {
    background: #343a40;
    height: 153px
}

.text-red {
    color: #e84400
}

.text-custom {
    text-align: center;
    text-transform: uppercase;
    color: #e84400
}

.text-line-left {
    width: 50px;
    height: 3px;
    background: #000;
    display: inline-block;
    position: relative;
    top: -13px;
    margin-right: 10px;
}

.text-line-right {
    width: 50px;
    height: 3px;
    background: #000;
    display: inline-block;
    position: relative;
    top: -13px;
    margin-left: 10px;
}

.text-line-right-red {
    width: 50px;
    height: 3px;
    background: #e84400;
    display: inline-block;
    position: relative;
    top: -13px;
    margin-left: 10px;
}

.ourPartnerslogo img {
    border: 1px solid #eaeaea;
    margin: 5px
}

.brd-red-3px {
    border-bottom: 3px solid #f3a17f;
    padding-bottom: 15px
}

.brd-black-3px {
    border-bottom: 3px solid #7f7f7f;
    padding-bottom: 15px
}

.text-mutedc {
    color: #babcbd
}

.mt--slider {
    margin-top: -10px
}

.bg-black {
    background-color: #000
}

.footer-links ul li {
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7)
}

#clientTestimonial .col-md-3 .card {
    transition: background-color 0.5s ease;
    background-color: #f8f9fa;
}

#clientTestimonial .col-md-3 .card:hover {
    background-color: #ccc;
}

.ins-panel {
    transition: all .4s ease-in-out;
}

.ins-panel:hover {
    background-color: #e84400!important
}

.ins-panel img {
    transition: all .4s ease-in-out
}

.ins-panel:hover img {
    transform: scale(1.15)
}

.corona-block img {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.corona-block:hover img {
    transform: rotate(360deg);
}

.bg-lights {
    background: #f1f1f1
}


/*Carousel***************/

#clientTestimonial .carousel-indicators li {
    background: #ccc;
    height: 5px;
    width: 15px;
    border-bottom: 0px;
    border-radius: 30px
}


/***Car Insurance***/

.car-form .carNo {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px!important;
}

.car-form .viewplans {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px!important;
}

.btn-danger {
    background: #e84400!important
}

.btn-danger:hover {
    background: #be3800!important
}

@media (max-width: 576px) {
    .text-line-right,
    .text-line-left {
        display: none
    }
}


/**Added on source code for development**/

.login-bg {
    background: url(../images/login-bg.png) no-repeat;
    background-size: cover;
    max-width: 704px;
    margin: 0px auto
}

.kyc-bg {
    background: url(../images/kyc-top-bg.png) no-repeat top left;
}

.list-agent-profile a.active {
    background: #be3800!important;
    border: 0px;
}

.agents-insurance-plans a {
    text-decoration: none;
    color: inherit
}

.agents-insurance-plans a:hover .card {
    background: #f8f9fa!Important
}

.agents-insurance-plans a .card img {
    opacity: 0.5
}

.agents-insurance-plans a:hover .card img {
    opacity: 1
}

.list-agent-profile p {
    font-family: 'Open Sans', sans-serif!important;
    font-size: .95rem;
    font-weight: normal
}

.list-agent-profile a:before {
    float: left;
    width: 32px;
    font-size: 1.2rem;
}

/**progress-bar*/
.hidden {
    visibility: hidden;
  }
  .loader-overlay {
    position: absolute;
    width: 100%;
    z-index: 500000;
    top: 0;
  }
  .loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #FFF;
  }
  .loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: red;
    animation: loading 2s linear infinite;
  }
  @keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% {left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
  }

  .dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }

  .ngb-dp-navigation-select select:first-child {
    display: none;
  }

  .ngb-dp-day { display: none; }
  .ngb-dp-week { display: none; }
  .ngb-dp-weekday { display: none; }
  .ngb-dp-navigation-chevron { display: none; }
  .ngb-dp-arrow-btn { display: none; }
  .ngb-dp-arrow { display: none; }

fade.in{
    opacity:1;
}

.model.in .model-dialog{
    -webkit-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.modal-backdrop.in{
    opacity: 0.5;
}