<div class="border-bottom border-top py-3">
    <div class="container px-0">
        <div class="row">
            <div class="col-md-4">
                <p class="font-weight-bold mb-0"> {{vehicalDetail.vh_make}} | {{vehicalDetail.vh_model}} | {{vehicalDetail.vh_varient}} </p>
                <span class="small"> {{vehicalDetail.vh_no}}</span>
            </div>
            <div class="col-md-4 small">Registration Year:{{vehicalDetail.vh_regis_dt}}</div>
            
    </div>
    <div class="bg-light py-3 mt-3 border-top">
        <div class="container px-0">
            <div class="row">
                <div class="col-md-9">
                    <div class="card shadow-sm mb-5" *ngFor="let insurance of _All_QUOATE_LIST">
                        <div class="card-body row">
                            <div class="col-md-3" ><img src="{{insurance.policy_img}}" style='height: 50px;' />
                                <div><small>({{insurance.minidv}} IDV - {{insurance.maximumidv}} IDV)</small></div>
                            </div>
                            <div class="col-md-3">
                                <p class="text-black-50 mb-0">IDV</p>
                                <h5>{{insurance.idv}}</h5>
                            </div>
                            <div class="col-md-3">
                                <p class="text-black-50 mb-0">Add ons</p>
                                <span class="small">Zero Dep: Unavailable</span>
                            </div>
                            <div class="col-md-3">
                                <p class="mb-0 text-d"><del>&#x20B9;{{insurance.totalpayable}}</del><span class="ml-2 small"><a
                                            href="#">Policy Coverag</a></span></p>
                                <button class="btn btn-danger">{{insurance.netpremium}}</button>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                
            </div>


        </div>
    </div>
</div>