<div class="d-block p-3 bg-primary text-white">Welcome [ {{agentuser.agentid}} ]
  <span class="float-right pointer">
    <button type="button" class="btn btn-primary" (click)="agentlogout()">
      Logout
    </button>
  </span>
  
</div>
<div class="d-flex" id="wrapper">
  
    <div class="bg-light border-right" id="sidebar-wrapper">
      <app-dash-sidebar></app-dash-sidebar>
    <!-- /#sidebar-wrapper -->
    </div>
  <!-- Page Content -->
        <div class="container">
               <router-outlet></router-outlet>  
        </div>
</div>
