<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user; else elseBlock">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>
<ng-template #elseBlock><nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/agentpos" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Become Agent</a>
    </div>
</nav></ng-template>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center  navbar-dark bg-dark navbar">
    <p>
        Footer
    </p>
    
</div>