<div class="w-100">
    <header>
        <div class=" container text-right">
            <ul class="list-inline top-list-items mb-0">
                <li class="text-muted">Sales : 1800-123-4567</li>
                <li><a href="#" class="text-muted">Contact Us</a> </li>

                <li><a routerLink="/agentpos" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        class="text-muted">POS Agent</a></li>
                <li><a routerLink="/agent/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        class="text-muted">Agent Login</a></li>
            </ul>
        </div>
        <div class="bg-light border-top border-bottom">
            <div class="container">
                <nav class="navbar navbar-expand-sm navbar-light bg-light px-0"> <a class="navbar-brand" href="#"><img
                            src="../assets/images/logo.png" class="mt-2" /></a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false"
                        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="navbar-collapse collapse" id="navbarsExample03" style="">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown"> <a href="#" class="nav-link dropdown-toggle text-body"
                                    data-toggle="dropdown">Health Insurance</a>
                                <div class="dropdown-menu dropdown-menu-right shadow-lg"> 
                                    <a routerLinkActive="active" 
                                        *ngFor="let healthMenuItem of healthMenuItems"
                                        [routerLink]="[healthMenuItem.path]" class="dropdown-item {{healthMenuItem.class}}">
                                        {{healthMenuItem.title}}</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown"> 
                                    <a href="#" class="nav-link dropdown-toggle text-body"
                                    data-toggle="dropdown">Motor Insurance</a>
                                <div class="dropdown-menu dropdown-menu-right shadow-lg">
                                    <a routerLinkActive="active" 
                                        *ngFor="let motorMenuItem of motorMenuItems"
                                        [routerLink]="[motorMenuItem.path]" class="dropdown-item {{motorMenuItem.class}}">
                                        {{motorMenuItem.title}}</a>
                                </div>
                            </li>


                            <li><a href="#" class="nav-link text-body pr-0">myAccount</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</div>