<div class="container px-0">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-2 bg-white pb-0 small">
            <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
            <li class="breadcrumb-item active">Motor Insurance</li>
            <li class="breadcrumb-item active" aria-current="page">Car Insurance</li>
        </ol>
    </nav>
</div>
<div class="my-3">

    <div class="container bg-light border rounded shadow">

        <div class="row">
            <div class="col-md-4 py-5 text-center">
                <h2 class="c-heading">Car Insurance<span class="text-line-right"></span></h2>
                <img src="../assets/images/car.png" width="298" height="186">
            </div>
            <div class="col-md-8 py-5">
                <app-vehicle-info></app-vehicle-info>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <h2 class="c-heading">Car Insurance</h2>
        <p>
            Car Insurance is a type of vehicle insurance policy that protects your car & car owner from any risks & damages that may lead to financial losses. Car Insurance Policy is a contract between the motor vehicle company & a car owner that provides on-road
            protection against any loss or damages arising due to an accident. A car insurance policy provides financial coverage to the beneficiary of the car policy against any loss or damages arising out of road accidents, third party liabilities,
            theft, man made calamities, fire or natural disaster.
        </p>
        <h2 class="c-heading">Why Should You Buy Car Insurance Policy?</h2>
        <p>Buying a four wheeler insurance policy is mandatory in India for all cars as per the Motor Vehicle Act 1988. Vehicle insurance companies compensate for the loss or damage caused to the insured vehicle and a third-party from the insured four-wheeler.
            Here are some of the reasons to buy a new car insurance policy in India:
        </p>
        <ul>
            <li>It pays for the car damages as a result of a collision, accident, death or natural calamities, which otherwise would need to be paid by the insured</li>
            <li>It pays for hospitalization expenses in case of an accident</li>
            <li>It reduces the financial and legal damages that can arise from a third-party liability or damage</li>
            <li>With rider benefits like roadside assistance, zero depreciation the expenses are further reduced</li>
        </ul>
        <h2 class="c-heading">Types of Car Insurance Policy in India</h2>
        <p>There are three types of car insurance policies that are available in India –</p>
        <ul>
            <li>
                <h5 class="text-seconday">Comprehensive Car Insurance</h5>
                <p>A comprehensive insurance policy provides coverage for third party liability as well as damages caused to your own car. In comparison with third party liability insurance, a comprehensive four wheeler insurance policy offers extensive
                    coverage, more benefits and covers the damages caused to the insured car in case of an accident, collision, theft, etc.</p>
                <p>A comprehensive policy can be further extended by opting for add-ons like accessories cover, engine protector, zero depreciation cover, medical expenses, etc. This type of coverage is the most popular as it offers end-to-end coverage and
                    thus less stress for the policyholder.</p>
            </li>
            <li>
                <h5 class="text-seconday">Third Party Car Insurance</h5>
                <p>Third party insurance safeguards you from any legal liability due to your own car’s involvement in an accident. Your insurance provider will compensate you for death, disability, injury, or property damage to any third-party. Therefore,
                    you are protected from the financial liability towards the third-party.
                </p>
                <p>Third-party liability car insurance prices are a mandate in India under the Motor Vehicles Act, 1988.
                </p>
            </li>
            <li>
                <h5 class="text-seconday">Pay as You Drive Insurance</h5>
                <p>Also known as usage-based motor insurance, this insurance policy allows the insured to pay the insurance premiums as per the kilometres driven. This newly introduced product likely to be helpful for those with multiple cars not all of
                    which are used so frequently. As per the IRDA guidelines under the Sandbox project, a few insurers such as Bharti AXA, Bajaj Allianz have started offering Pay As You Drive insurance policy. The policy offers comprehensive coverage
                    for own damage and third-party liability on a pilot basis for a term of one year. The policy seeker will have to declare the distance he/she expects to travel during a policy year and based on that premiums for Pay As You Drive policy
                    will be decided. However, the insurers have come up with 3 slabs for distance covered -Rs 2,500 km, 5,000 km and 7,500 km.</p>
            </li>
        </ul>
        <img src="../assets/images/car-inside-banner.png" width="750" height="150" alt="Car" class="border my-3">
        <h2 class="c-heading">Benefits of Car Insurance Policy</h2>
        <p>
            It is not only because of the law but for the benefit of your vehicle, it is good to get it insured. Whether you purchase a new car or old second-hand vehicle, its insurance is needed always. A third-party insurance policy provides protection against
            liabilities (legal and financial) towards a third-party.
        </p>
        <p>
            However, you can buy a comprehensive cover as well that not only provides third-party coverage but protects your vehicle against damage or loss. Here are a few benefits of having a four wheeler insurance policy:
        </p>
        <ul class="line-list">
            <li><strong>Personal Accident Cover</strong>: A comprehensive car policy not only provides third-party cover but as well as offers cover against personal accident. In personal accident cover, you get a pre-defined amount against death because
                of the accident and permanent total disability. In addition to this, one can purchase this cover for co-passengers as well even on an unnamed basis, which will be maximum as per the seating capacity of the vehicle. However, the amount
                of coverage is pre-determined even in this case.
            </li>
            <li><strong>Loss or Damage of the Insured Vehicle</strong>: A comprehensive car policy provides coverage against damage or loss to your car. Reasons for damage like fire, accident, or self-ignition are covered in this plan. In addition to this,
                if the car faces losses because of theft, burglary, terrorism, riots, then also an insurance policy covers it. Moreover, it also covers loss or damage occurred due to transit via train, air, road, inland waterways, or lift.</li>
            <li><strong>Vast Network of Garages</strong>: Most of the motor insurance providers have a wide range of network garages that are spread across the country. This feature ensures that you can get the service of your car anywhere in India.</li>
            <li><strong>No Claim Bonus</strong>: One of the best benefits of having a car insurance policy is its No Claim Bonus (NCB) feature. You are eligible to avail of this offer for each claim-free year. The NCB is available as a discount on the next
                premium and this makes 4 wheeler insurance policy comparatively more affordable.
            </li>
            <li><strong>Liabilities of Third-Party</strong>: If your car meets with an accident and causes loss or damage to the property of a third-party, then do not worry as it is covered under four wheeler insurance policy. Moreover, if you come across
                any legal liabilities because of an accident by your car like death or injury to any person or property, then do not worry, your car policy provides you coverage for the same.
            </li>
        </ul>
    </div>
</div>