<!-- credits -->
<footer class="bg-black py-5">
    <div class="container">
        <div class="row footer-links">
            <div class="col-md-3 text-white">
                <h5>Quicklinks</h5>
                <ul class="list-unstyled">
                    <li>About Us</li>
                    <li>Careers</li>
                    <li>Legal & Admin Policies</li>
                    <li>ISNP</li>
                </ul>

            </div>
            <div class="col-md-3 text-white">
                <h5>Health Insurance</h5>
                <ul class="list-unstyled">
                    <li>Individual</li>
                    <li>Family Floater</li>
                    <li>Corona Special</li>
                    <li>Senior Citizen Health Insurance</li>
                </ul>
            </div>
            <div class="col-md-3 text-white">
                <h5>Motor Insurance</h5>
                <ul class="list-unstyled">
                    <li>New Car Insurance</li>
                    <li>Used Car Insurance</li>
                    <li>Taxi Insurance </li>
                    <li>Heavy Vehical Insurance</li>
                </ul>
            </div>
            <div class="col-md-3 text-white">
                <h5>Other Insurance</h5>
                <ul class="list-unstyled">
                    <li>Special Insurance</li>
                    <li>Benefit Insurance</li>
                    <li>Group Health Insurance </li>
                    <li>Cancer Care Insurance</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 text-center text-mutedc bg-dark  rounded small p-3 my-3">
                Insurance is the subject matter of solicitation. Visitors are hereby informed that their information
                submitted on the website may be shared with insurers.

                Product information is authentic and solely based on the information received from the Insurer ©
                Copyright 2008-2020 letecure.com. All Rights Reserved.
            </div>
            <div class="col-md-6">
                <h3 class="text-white">Payment Methods</h3>
                <p><img src="../assets/images/logo-payments.png" /></p>
            </div>
            <div class="col-md-6 text-right">
                <p><img src="../assets/images/logo-tweet.png" /> <img src="../assets/images/logo-fb.png" class="mx-2" /><img
                        src="../assets/images/logo-in.png" /></p>
            </div>
            <div class="clearfix">
                <hr />
            </div>
            <p class="text-center small text-mutedc">Discount is offered by the Insurance company as approved by IRDAI
                for the product under File & Use guidelines #On the basis of your profile.
                Insurance is the subject matter of solicitation.

                Visitors are hereby informed that their information submitted on the website may be shared with
                insurers.</p>
        </div>

    </div>
</footer>