<div class="login-bg shadow my-5">
    <div class="offset-md-5  p-4">
        <h4 class="font-weight-bold text-uppercase mb-3">Register</h4>
        <form [formGroup]="agentRegiform" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="agentemail" class="font-weight-bold required-field">Email</label>
                <input type="text" formControlName="agentemail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.agentemail.errors }" required/>
                <div *ngIf="submitted && f.agentemail.errors" class="invalid-feedback">
                    <div *ngIf="f.agentemail.errors.required">Email is required</div>
                    <div *ngIf="f.agentemail.errors.email">Email must be a valid email address</div>
                    <div *ngIf="f.agentemail.hasError('emailTaken')"> This email address is already used </div>
                </div>
            </div>
            <div class="form-group">
                <label for="agentphone" class="font-weight-bold required-field" >Enter Phone</label>
                <input maxlength="10" type="text" formControlName="agentphone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.agentphone.errors }" required/>
                <div *ngIf="submitted && f.agentphone.errors" class="invalid-feedback">
                    <div *ngIf="f.agentphone.errors.required">Phone Number is required</div>
                    <div *ngIf="f.agentphone.errors.pattern"> Enter 10 digit Mobile Number </div>

                </div>
            </div>
            <div class="form-group">
                <label for="pincode" class="font-weight-bold required-field">Pincode</label>
                <input maxlength="6" type="text" formControlName="pincode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }" required [inputFormatter]="formatter" [resultTemplate]="rt" (keyup)="onkeyPressval($event.target.value)" [ngbTypeahead]="search"/> 
                <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                    <div *ngIf="f.pincode.errors.required">Pincode is required</div>
                    <div *ngIf="f.pincode.errors.pattern"> Enter 6 digit pin code</div>                  
                </div>
                <ng-template #rt let-r="result" let-t="term">
                    <ngb-highlight [result]="r.pincode1" [term]="t"></ngb-highlight>
                    <ngb-highlight [result]="'-' + r.postOfficeName + '-' + r.city" [term]="t"></ngb-highlight>
                </ng-template>


            </div>


            <div class="form-group">
                <button [disabled]="loading" class="btn btn-danger btn-block font-weight-bold">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>